<h2>Hi {{receiverName.name}}</h2>

{{#each phrase}}
<h3>{{phrase}}<button class="speaker" onclick="speak('{{phrase}}')"><i class="fas fa-volume-up"></i></button></h3>
{{/each}}

<div class = "row2"><a href='/'><button>Home</button></a></div>